*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: gray;
}

h1{
  color: black;
  font-size: 2.5rem;
}

a{
  text-decoration: none;
}


/* UTILS */


.container{
  width: 80%;
  max-width: 1500px;
  min-width: 600px;
  margin: 0 auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.mg-15{
  margin-bottom: 15px;
}

.image-box{
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.overlay{
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
}

.alternative-font{
  font-family: Arial, Helvetica, sans-serif;

}

/* HEADER */

.header-top .logo{
  height: 68px;
  border-right: 1px solid lightgray;
  width: 180px;
  margin-bottom: 40px;
}

.header-top .logo img{
  height: 100%;
}

.jumbotron {
  height: 500px;
  background-image: url("img/banner.jpg");
}

.jumbotron .jumbo-text{
padding-left: 50px;
padding-top: 20%;
width: 50%;
}

.jumbotron .jumbo-text .title{
  font-size: 2rem;
  margin-bottom: 10px;
}



/* MENU */

nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

nav ul li a{
  color: gray;
  text-transform: uppercase;
}

nav ul li a:hover{
  color: red;
}

/* MAIN */
main{
  padding-bottom: 13px;
}

.main-top{
  height: 80px;

}

.left-col .image-box {
  background-image: url('img/img-1.jpg');
}

.right-col .image-box {
  background-image: url('img/img-3.jpg');
}

.center-col .image-box {
  background-image: url('img/banner-2.jpg');
}

.left-col, .right-col {
  width: 19%;
}

.left-col p, .center-col p, .right-col p{
  margin-top: 15px;
  text-align: justify;
  }
  
.center-col{
  width: 60%;
}

.left-col{
  margin-right: 1%;
}

.right-col{
  margin-left: 1%;
}


/* FOOTER */
footer{
  text-align: center;
}

footer p::after{
  content: '\2764'; 
  color: red;
}
